.card_div {
    border-radius: 3px;
    color: black;
    margin-top: 0;
    overflow: auto;
    padding-top: 0;
    width: 100%;
}

.div {
    margin: 0;
}

.grey_shadow {
    text-shadow: 1px 1px .5px darkgrey;
}

.lock_left {
    background-color: green;
    float: left;
    position: fixed;
}

.persona {
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.persona_4 {
    background-color: #FCFF00;
    background-position: right;
    border-radius: 5px;
    color: black;
    margin: 0 5px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 0;
}

.persona_3 {
    background-color: #1F4FA6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 5px;
    min-height: 500px;
}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom, #1F51A6 0%, #1F51A6 35%, #FCFF00 0%, #FCFF00 81%, #FF0007 0%, #FF0007 2%);
    font-family: cursive;
    margin: 0 10%;
    min-width: 960px;
}

header {
    height: 50px;
    margin: 0 5px;
    min-width: 960px;
    position: fixed;
    text-align: center;
}

h3 {
    color: #2D4671;
    font-family: fantasy, serif, monospace;
    margin-top: 30px;
}

h1 {
    font-family: fantasy, serif, monospace;
    margin: 5px;
    text-transform: uppercase;
}

h4 {
    margin-top: 30px
}

footer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

footer a {
    color: black;
    font-size: 12px;
    font-style: italic
}

main {
    overflow: hidden;
    padding: 4% 0;
}

nav {
    min-width: 980px;
    padding-top: 30px;
    position: fixed;
    text-align: center;
    width: 80%;
}

ul {
    clear: right;
    list-style-type: square;
}
