body {
    font-family: cursive;
    background-color: whitesmoke;
    background-image: linear-gradient(red, darkred);
}

#content {
    background-image: url(images/persona.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    border-radius: 3px;
    box-shadow: 2px 2px 1px;
    background-attachment: fixed;
    background-position: center;
}

#center_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

#opacity_h1 {
    background-color: hsla(240, 100%, 20%, 0.50);
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px
}

#card {
    float: left;
    margin: auto;
    height: 300px;
    width: auto;
    opacity: 0.9;
}

#top_margin {
    margin: 5% 0px
}

.card_div {
    background-color: hsla(50, 100%, 51%, 1.0);
    overflow: auto;
    width: 100%;
    color: red;
    border-radius: 3px;
    box-shadow: 2px 2px 1px;
    color: black
}

.div {
    margin: 10% 1px
}

.fixed_position {
    position: fixed
}

.grey_shadow {
    text-shadow: 1px 1px .5px darkgrey
}

.persona {
    color: white
}

h3 {
    color: blueviolet;
    font-family: fantasy, serif, monospace;
    margin-top: 30px;
    text-shadow: 1px 1px black;
}

h1 {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: fantasy, serif, monospace;
    margin-top: 30px;
}

h4 {
    margin-top: 30px
}

footer {
    font-size: 10px;
    font-style: italic;
}

main {
    padding: 15px
}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none
}

ul {
    list-style-type: square
}